
<div id="fullpage">
    <div class="section" id="section1">
      <div class="slide">
        <div class="inner">
          <div class="teast">
            <p>Teast your fav dish</p>
            <a>from <span>luxury restaurent.</span></a>
          </div>
          <img src="{{food}}">
         </div>
      </div>
      <div class="slide active">
          <div class="inner">
            <div class="teast">
            <p>Teast your fav dish</p>
            <a>from <span>luxury restaurent.</span></a>
          </div>
          <img src="{{food}}">
          </div>
      </div>
      <div class="slide">
        <div class="inner">
          <div class="teast">
            <p>Teast your fav dish</p>
            <a>from <span>luxury restaurent.</span></a>
          </div>
          <img src="{{food}}">
          </div>
      </div>
      <div class="slide">
          <div class="inner">
            <div class="teast">
            <p>Teast your fav dish</p>
            <a>from <span>luxury restaurent.</span></a>
          </div>
          <img src="{{food}}">
          </div>
      </div>
  </div>
  <div class="section active" id="section0">
    <div class="fis">
        <div class="inner">
          <div class="reader">
          <div class="read">
            <img class="Vxodaimg2" src="{{read}}" style="float: left;">
            <p>Read</p>
            <a>REVIEWS</a>
            <img class="Vxodaimg" src="{{but}}" style="margin-top: -20px; margin-left: 1.28205128205%;cursor: pointer;">
          </div>
          <div class="read2">
              <img src="{{phone}}" style="float: left; margin-right: 1.250em">
              <p>Call us Now for</p>
              <a>Home Delivery</a>
          </div>
          <div class="read3" style="margin-left: 30.250em; margin-top: -40px; z-index: 5; position: relative;">
            <p style="font-size: 2em; font-family: PlayfairDisplay-Bold; font-weight: bold; color: #14141d">1-008 005 006</p>
          </div>
        </div>
      </div>
    </div> 
    <div class="fis2">
      <div class="about">
        <div class="inner">
         <p>About Restaurent</p>
         <a>
           Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br> Lorem Ipsum has been the industry's standard dummy text ever since the<br> 1500s, when an unknown printer took a galley of type and scrambled it to make<br> a type specimen book. It has survived not only five centuries, but also the leap<br> into electronic typesetting, remaining essentially unchanged... 
         </a>
         <div class="rest_img">
           <li><img src="{{Readmore}}"></li>
           <li><img src="{{Image236}}"></li>
         </div>
       </div>
      </div>
    </div>
 </div>
  <div class="section" id="section2">
     <div class="inner">
      <div class="today">
        <p style="text-align: center; color: #fff; font-family: PlayfairDisplay-Bold; font-size: 2.188em; font-weight: bold; margin-top: 97px ">Today Special</p>
      </div>
      <div class="todays">
        <div class="col-md-6 col-sm-6 col-xs-6 ">
          <div class="lin">
              <p>Food Name one</p>
              <a>printing and typesetting industry. Lorem Ipsum has been the<br> industry's standard dummy text ever since the 1500s, when an<br>unknown printer took a galley of type and scrambled.</a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
           <div class="lin2">
              <p>Food Name one</p>
              <a>printing and typesetting industry. Lorem Ipsum has been the<br> industry's standard dummy text ever since the 1500s, when an<br>unknown printer took a galley of type and scrambled.</a>
           </div>
        </div>
      </div>
  </div>
</div>
  <div class="section" id="section3">
    <div class="as">
       <div class="inner">
         <div class="azda">
          <p class="happy">
            Happy Clients
          </p>
          <a class="many">
            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model<br> text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions<br> have evolved over the years, sometimes by accident, sometimes on purpose. 
          </a>
          <br>
          <img class="imz" src="{{boy}}">
          <p class="dr">
            DR. PRABAKAN JOHN
          </p>
          <img class="" src="{{stars}}">
       </div>
     </div>
   </div>
   <div class="footer" style="text-align: center;">
     <h1>FOOTER THE END</h1>
   </div>
</div>
</div>