ul.nav.navbar-nav.navbar-right{margin-left: 8.46153846154%; margin-top: 16px}
li.Vxod{margin-top: -6px}
li.Vxodimage{cursor: pointer;}
/* Medium Devices, Desktops */ 

/* Medium Devices, Desktops */ 

@media only screen and (max-width : 992px) { 
   li.Vxodimage[_ngcontent-c1]{display: none;}
   .read3{display: none;}
}
@media only screen and (max-width : 1143px) { 
   li.Vxodimage[_ngcontent-c1]{display: none;}
} 
@media only screen and (max-width : 1160px) { 
   li.Vxodimage[_ngcontent-c1]{display: none;}
} 

/* Small Devices, Tablets */ 
@media only screen and (max-width : 922px) { 
     li.Vxod[_ngcontent-c1]{display: none}
} 
@media only screen and (max-width : 924px) { 
     li.Vxod[_ngcontent-c1]{display: none}
} 




/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 880px) { 
   li.Vxod[_ngcontent-c1]{display: none}
   .navbar-inverse .navbar-nav > li > a{font-size: 0.775em}
} 


@media only screen and (max-width : 805px) { 
     li.Vxod[_ngcontent-c1]{display: none}
     .navbar-inverse .navbar-nav > li > a{font-size: 0.675em}
} 
@media only screen and (max-width : 815px) { 
     li.Vxod[_ngcontent-c1]{display: none}
     .navbar-inverse .navbar-nav > li > a{font-size: 0.675em}
} 

@media only screen and (max-width : 302px) { 
 .navbar-inverse .navbar-brand{
    color: #9d9d9d;
    margin-top: -69px;
    margin-left: -10px;
  }
} 

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) { 

} 
